*{
  margin: 0;
  padding: 0;
}
body {
  font-family:'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navitem {                                             /* About, Contact */
  font-weight: normal;
  padding: 0 0.5rem 0 1rem;
  float: right;
  display: inline;
}
#site-name {
  text-align :center;
}
a {
  font-size:large ;
}
.mother{
  text-align: center;;
}
.content{
  width:100vw;
  height: 400px;
  display:inline-block;
  background-color: rgba(143, 146, 229, 0.267);
  border-width:2px;
  border-style:solid;
  border-color:rgb(31, 10, 169);
  text-align: center;
  justify-content:left;
}

.right {
  width: 19vw;
  height: 340px;
  background-color: rgb(222, 201, 241);
  float:right;
  border-width:2px;
  border-style:solid;
  border-color:rgb(14, 111, 45);
}


#footer {         
  justify-content: center;           
  align-items: center;                 
  padding: 0.5rem;
  background: rgba(191,171,234, 0.4);
}
#theme {
  font-size: 30px;
  color:rgb(45, 9, 121)
}
#theme2 {
  font-size: 40px;
  color :rgb(66, 8, 147)
}
#page-title .page_title {
  font-size: 30px;
  color:rgb(15, 198, 21)
}
#msg {
  font-size:large;
  color:rgb(48, 6, 116)
}
#tbl {
font-size: 20px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #b5ffa9e6;
  color:#00275d;
  font-weight: bold;
  padding: 10px 20px;
  border:#000000;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}



