extends layout 


block main-content
    div.content
        div.right
            img(src='./how.jpg' alt='logo' style='width:290px; height:305px;')      
            footer#footer 
                p &copy; Copyright HawkOnWheels, 2023.
        br
        h2#page-title About Hawk on Wheels
        br
        p This is a car pooling app for reaching Humber College from various destinations to save on Fuel for future
        br
        p Drivers post their rides on the website and these Rides get added to the database via mongodB
        br
        p A user can search for a ride from his place from the list of available rides for pooling and book it
        br 
        p After booking the ride the ride details from starting point to end point is obtained from MapQuest API and displayed
        br 
        p The application is a full stack development employing MongodB Express Node Js and Pug and it accesses external API   
        br
        p HAPPY CAR POOLING! 
         