extends layout 


block main-content
    div.content
        div.right
            img(src='./how.jpg' alt='logo' style='width:290px; height:400px;')      
            footer#footer 
                p &copy; Copyright HawkOnWheels, 2023.
        br
        h2#page-title Contact details
        br
        p Subhiksha Sampathkumar
        br
        p Humber No: N12345678
        br
        p Web Development Course
        br 
        p Humber College, North Campus
        br 
        p Ontario, Canada
        br
         