extends layout 


block main-content
    div.content
        div.right
            img(src='./how.jpg' alt='logo' style='width:290px; height:305px;')      
            footer#footer 
                p &copy; Copyright HawkOnWheels, 2023.
        br
        h2#page-title Why Car Pooling?
        br
        p At the current rate of consumption
        p We will run out of Petrol in 2052!
        p CO2 emission impacts  global warming
        p Less fuel burnt longer availability 
        p Lesser effect on global warming 
        br
        p#msg What is the way out????
        br
        h2#theme CAR POOLING!
        br
        h2#theme2 HAWK ON WHEELS! 
        